/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

/* Général */

*{
    margin: 0;
}

:root{
    --notosans: "Noto Sans", sans-serif;
    --gloriapolice: "Gloria Hallelujah", cursive;
    --orangefoncé: #CC3900;
    --rose: #FBBBCD;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: var(--notosans);
}

a:hover{
    color: var(--orangefoncé);
    transition: all 0.3s ease-in-out;
}

h1{
    font-family: var(--gloriapolice);
    font-size: 45px;
    margin-bottom: 20px;
}

h2{
    font-family: var(--gloriapolice);
    font-size: 20px;
    font-weight: 400;
}

p{
    font-family: var(--notosans);
    font-size: 16px;
}

i{
    color: var(--orangefoncé);
    padding-right: 10px;
}

/* Header */

header{
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    max-width: 1150px;
    justify-content: space-between;
    align-items: center;
}

header a img{
    width: 103px;
}

header nav ul{
    display: flex;
    gap: 20px;
}

header #Accueil{
    color: var(--orangefoncé);
}

header div i{
    color: var(--orangefoncé);
}

header #burger_menu{
    display: none;
}

/* Main */

main{
    margin: auto;
    max-width: 1440px;
    background-image: url(../img/imagedefond.png);
    background-position: right;
    background-repeat: no-repeat;
}

main .grandediv{
    display: flex;
    padding: 50px;
    gap: 280px;
    margin: 30px auto;
    max-width: 1150px;
}

main .grandediv .gauche p{
    padding-bottom: 15px;
}

main .grandediv .gauche #infos{
    display: inline;
}

main .grandediv .gauche #infos p{
    font-family: var(--gloriapolice);
    font-size: 20px;
    margin-bottom: 20px;
    padding-left: 30px;
}

main .grandediv .droite #formulaire .petitediv #np,
main .grandediv .droite #formulaire .petitediv #mail{
    border: 1px solid #818A91;
    padding: 5px 8px;
    width: 350px;
    height: 20px;
    margin-top: 7px;
    margin-bottom: 12px;
}

main .grandediv .droite #formulaire .petitediv label,input{
    font-family: var(--notosans);
    font-size: 16px;
}

main .grandediv .droite #formulaire .petitediv #sujet{
    border: 1px solid #818A91;
    padding: 5px 8px;
    width: 350px;
    height: 210px;
    margin-top: 7px;
    margin-bottom: 12px;
}

main .grandediv .droite{
    align-content: space-evenly;
}

main .grandediv .droite #formulaire .petitediv #btn{
    border: 1px solid var(--rose);
    background-color: #FBBBCD;
    padding: 7px 10px;
    width: -webkit-fill-available;
    color: white;
}

main .grandediv .droite #formulaire .petitediv #btn:hover{
    background-color: white;
    color: var(--rose);
    transition: all 0.3s ease-in-out;
}

/* Footer */

footer{
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    max-width: 1150px;
    justify-content: space-between;
    align-items: center;
}

footer a img{
    width: 103px;
}

footer div i{
    color: var(--orangefoncé);
}

footer .nav nav ul{
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

footer .nav{
    display: inline
}

footer .nav #artcopy{
    text-align: center;
}

footer .nav #Accueil{
    color: var(--orangefoncé);
}

@media screen and (max-width: 1024px){
    header{
        padding: 0 15px;
    }

    header nav ul{
        display: none;
    }

    header #burger_menu{
        display: flex;
    }

    header div{
        display: none;
    }

    main{ 
        padding: 0 15px;
        background-position: bottom;
    }

    main .grandediv{ 
        flex-wrap: wrap;
        gap: 20px;
    }

    main .grandediv .droite #formulaire .petitediv{
        display: grid;
    }

    footer{
        padding: 0 15px;
    }

    footer .nav #artnav{
        display: none;
    }
}

@media screen and (max-width: 767px){
    header{
        padding: 0 15px;
    }

    footer{
        padding: 0 15px;
    }

    main{
        padding: 0;
    }

    h1{
        font-size: 28px;
    }

    p{
        font-size: 12px;
    }

    main .grandediv .gauche #infos h2,
    main .grandediv .gauche #infos p{
        font-size: 12px;
    }

    main .grandediv .droite #formulaire .petitediv #np,
    main .grandediv .droite #formulaire .petitediv #mail{
        width: 220px;
    }

    main .grandediv .droite #formulaire .petitediv #sujet{
        width: 220px;
        height: 160px;
    }

    main .grandediv .droite{
        background-size: 310px;
        background-position: left;
    }

    footer a{
        display: none;
    }

    footer .nav #artnav nav{
        display: none;
    }
}